############################################################
# Repository Owner: @riskalyze/infrastructure
############################################################

* @riskalyze/infrastructure
.github/CODEOWNERS @riskalyze/codeowners
